.div-note{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:127px;
    min-width:10%;
    z-index: 100;
    flex: 1 1 auto;
    overflow-x:auto;
    cursor: pointer;
    transition: all ease 0.3s;
}